@charset "utf-8";

.navbar {
    display: inline;
    background-color: blue;
    padding: 10px;
    margin: 0px;
}

.buy {
    background-color: teal;
    padding: 10px;
}

a{
    text-decoration: none;
    color: white;
}

.active{
    background-color: purple;
}

.logo {
    max-width: 5%;
    height: 5%;
    display: flex;
}